@import "~bootstrap/dist/css/bootstrap.min";
@import "~bootstrap/dist/css/bootstrap-theme.min";

// DataTables
@import "~datatables.net-bs/css/dataTables.bootstrap";
// DataTables
@import "~datatables.net-responsive-bs/css/responsive.bootstrap.min";
@import "~datatables.net-select-bs/css/select.bootstrap.min";
// Font-awesome
@import "~font-awesome/scss/font-awesome";

.navbar-default {
  padding: 10px 0;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14),
    0 1px 18px 0 rgba(0, 0, 0, 0.12);

  img {
    height: 40px;
  }
}

.content {
  margin-top: 95px;
}

table#order {
  td.details-control {
    padding: 0 10px;
    background: url('/images/vendor/datatables/details_open.png') no-repeat center center;
    cursor: pointer;
  }
  tr.details td.details-control {
    background: url('/images/vendor/datatables/details_close.png') no-repeat center center;
  }

  .text-lg {
    font-size: 15px;
  }
}

.container-fluid {
  padding: 0 35px;
}

@media only screen and (max-width: 1000px) {
  .panel-body {
    padding: 0 5px;
  }
}

